body {
    background-color: #FBF8F1;
    align-content: center;
}

.header {
    text-align: center;
    display: table;
    width: 100%;
    color: #756D64;
}

.container {
    text-align: center;
}

.map-field {
    border-radius: 4px;
    background-color: #BBADA0;
    margin: auto;
}

.map-item {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    margin: 1px;
    font-size: large;
    text-align: center;
    padding: 0px;
    color: #7A7066;
    background-color: #CDC1B3;
}

.chat {
    width: 100%;
    text-align: center;
}

#log {
    text-align: left;
    width: 50%;
    margin: 8px 8px 8px 25%;
    height: 290px;
    color: #756D64;
    border: 1px solid rgb(192, 192, 192);
    font: 11pt 'Palatino Linotype';
    overflow: auto;
}

.message-input {
    height: 16px;
    margin: 4px;
}

#message-input {
    width: 45%;
    padding: 10px;
    color: #756D64;
}

#send {
    width: 5%;
    height: 32px;
    color: #756D64;
    border-radius: 4px;
    background-color: #EFC53F;
}

.footer{
    text-align: center;
    font-size: small;
    width: 100%;
    color: #756D64;
}